<!DOCTYPE html>
<html>
<head>
	<title>Learn Vue</title>
	<link rel="stylesheet" href="./style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div class="nav-bar"></div>
		<div id="app">
			<div class="product">
				<div class="product-image">
					<img v-bind:src="image" :alt="description">
				</div>
				<div class="product-info"> 
					<h1>{{ title }}</h1>
					<p v-if="inStock">In Stock</p>
					<p v-else>Out of Stock</p>

					<ul>
						<li v-for="detail in details">{{detail}}</li>
					</ul>
					<div class="color-box" 
					v-for="(variant, index) in variants" 
					:key="variant.variantId"
					:style="{ backgroundColor: variant.variantColor }"	
					@mouseover="updateProduct(index)"
					>
					</div>
					<div class="cart">
						<p>Cart({{cart}})</p>
					</div>
					<button v-on:click="addtoCart" :disabled="!inStock"
					:class="{ disabledButton : !inStock }">Add to Cart</button>
						
				</div>
			</div>
		</div>
	<script type="text/javascript" src="script.js"></script>
</body>
</html>